# Data Science Basics â€” Final Project

## Introduction
This notebook contains basic information and simple code examples demonstrating foundational data science concepts and tools. It fulfills the final project exercises for the course.

## Data Science Languages
- Python
- R
- SQL
- Julia

## Data Science Libraries
- NumPy
- pandas
- Matplotlib
- Scikit-learn
- Seaborn

## Data Science Tools

| Tool Category      | Examples                     |
|--------------------|------------------------------|
| Notebooks          | Jupyter, JupyterLite         |
| Languages          | Python, R                    |
| Libraries          | NumPy, pandas, Scikit-learn  |
| Visualization      | Matplotlib, Seaborn          |
| Data Storage       | SQL, MongoDB                 |
| Cloud Platforms    | Google Colab, Azure ML       |

## Arithmetic Expression Examples
Below are examples demonstrating arithmetic operations using Python code cells.

In [ ]:
a = 7
b = 5
product = a * b
sum_result = a + b
product, sum_result

In [ ]:
minutes = 150
hours = minutes / 60
f"{minutes} minutes = {hours} hours"

## Objectives
1. Learn basic markdown structure in Jupyter notebooks.
2. Demonstrate simple arithmetic operations using Python.
3. List common languages, libraries, and tools in data science.

## Author
Harshitha K S

## Notes
This notebook was created for the course final project and includes both markdown and code cells as required.